html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --body-bg: #f8f8fa;
  --card-bg: #ffffff;
  --item-text: #686877;
  --create-new-task-text: #b1b0b6;
}

.dark-mode {
  --body-bg: #171723;
  --card-bg: #24273c;
  --item-text: #82839a;
  --create-new-task-text: #65667c;
}

body {
  background-color: var(--body-bg);
}
