* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --body-bg: #f8f8fa;
  --card-bg: #ffffff;
  --item-text: #686877;
  --create-new-task-text: #b1b0b6;
  --checkbox: #efeff1;
  --item-border-bottom: #e6e7ea;
  --mobile-background: url(./images/bg-mobile-light.jpg);
  --desktop-background: url(./images/bg-desktop-light.jpg);
  --theme-toggler-img: url(./images/icon-moon.svg);
}

.dark-mode {
  --body-bg: #171723;
  --card-bg: #24273c;
  --item-text: #82839a;
  --create-new-task-text: #65667c;
  --checkbox: #35384d;
  --item-border-bottom: #3a3d52;
  --mobile-background: url(./images/bg-mobile-dark.jpg);
  --desktop-background: url(./images/bg-desktop-dark.jpg);
  --theme-toggler-img: url(./images/icon-sun.svg);
}

body {
  background-color: var(--body-bg);
  display: flex;
  flex-direction: column;
}

.heading-container {
  height: 30%;
  width: 100%;
  background-image: var(--mobile-background);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media only screen and (min-width: 37.6rem) {
    background-image: var(--desktop-background);
    height: 50%;
  }
}

.title-container {
  display: flex;
  justify-content: space-between;

  color: #ffffff;

  .heading {
    letter-spacing: 0.6rem;
  }

  @media only screen and (max-width: 37.5rem) {
    width: 100%;
  }
}

.heading-content {
  width: 100%;

  @media only screen and (min-width: 37.6rem) {
    width: 60%;
  }
}

.theme-toggler {
  width: 1.5rem;
  height: 1.5rem;
  background-image: var(--theme-toggler-img);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  align-self: center;
}

.new-task-container {
  background-color: var(--card-bg);
  border-radius: 0.625rem;
  width: 100%;
  height: 4.375rem;
  display: flex;
  align-items: center;

  input {
    box-shadow: none;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 0.5rem;
    color: var(--item-text);
    font-family: inherit;
    font-weight: 600;
    height: 100%;
    width: 100%;
    font-size: 1rem;
  }

  input:focus {
    box-shadow: none;
    outline: none;
    font-size: 1rem;
  }

  input::placeholder {
    font-weight: 900;
  }
}

.circle {
  width: 1.563rem;
  height: 1.563rem;
  border: 1px solid var(--checkbox);
  border-radius: 50%;
  margin-left: 1.5625rem;
}

.new-task-input::-ms-input-placeholder {
  font-weight: 900;
}

.task-list-container {
  display: flex;
  overflow: visible;
  margin-top: -5%;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: var(--card-bg);
  border-radius: 0.625rem;
  justify-content: center;

  @media only screen and (min-width: 37.6rem) {
    width: 60%;
    align-self: center;
  }
}

.task-container {
  display: flex;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  align-items: center;
  border: 1px var(--item-border-bottom);
  border-style: none none solid none;
}

.task-info {
  font-family: inherit;
  font-weight: 600;
  color: var(--item-text);
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.image-container {
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  display: flex;
  margin-left: auto;
  cursor: pointer;
}
